" {{ ansible_managed }}
set mouse-=a
syntax on
set clipboard=unnamed
set backspace=indent,eol,start
set termguicolors
set ignorecase
autocmd FileType yaml setlocal ai ts=2 sw=2 et
set tabstop=8 shiftwidth=8 expandtab
