http:
  routers:
    grafana:
      rule: "Host(`grafana.dpinhas.duckdns.org`)"
      service: grafana
      entrypoints:
        - "web-secure"

    prometheus:
      rule: "Host(`prometheus.dpinhas.duckdns.org`)"
      service: prometheus
      entrypoints:
        - "web-secure"

    blackbox:
      rule: "Host(`blackbox.dpinhas.duckdns.org`)"
      service: blackbox
      entrypoints:
        - "web-secure"

    homeassistant:
      rule: "Host(`ha.dpinhas.duckdns.org`)"
      service: homeassistant
      entrypoints:
        - "web-secure"

  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://192.168.68.11:3000"
    prometheus:
      loadBalancer:
        servers:
          - url: "http://192.168.68.11:9090"
    blackbox:
      loadBalancer:
        servers:
          - url: "http://192.168.68.11:9115"
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.68.10:8123"
